# ----- IT during Advent --------------------------
#
# yearly reset
0 0 1 9 * [path_to_infoimadvent_executable] reset --standard >> [path_to_log_file]

# score calculation (day is shifted by one, because
# the function calculates the last completed day)
0 2 2-25 12 * [path_to_infoimadvent_executable] calc >> [path_to_log_file]
#
# -------------------------------------------------
