@import "colors";

body {
    width: 210mm;
    height: 239mm;
    margin: auto;
    padding-top: 36mm;
    background-color: @background-gray;
    font-family: 'Zilla Slab', serif;
    text-align: center;

    div, h1 {
        margin: 0 auto;
        font-weight: 400;
    }

    h1 {
        color: @gold;
        font-size: 88pt;
        padding-bottom: 36mm;
    }

    .awarded-to, .score {
        color: @text-white;
        padding-bottom: 25mm;
        font-size: 33pt;
        font-variant: small-caps;
    }

    .email {
        color: @gold;
        font-size: 42pt;
        padding-bottom: 25mm;
    }

    .points {
        color: @gold;
        font-size: 60pt;
        font-variant: normal;
    }

    .iia {
        color: @text-white;
        margin: auto;
        padding-top: 15mm;
        font-size: 26pt;
    }
}
