@media all {
  body {
    font-family: 'Zilla Slab', serif;
    display: grid;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  body p {
    line-height: 1.5;
  }
  body p::first-letter {
    font-family: 'Zilla Slab', serif;
    float: left;
    font-size: 2.9em;
    line-height: 1em;
    color: #c4bb45;
    margin-right: 10px;
  }
  body a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
  }
  body a:hover {
    color: #c4bb45;
  }
  body .small {
    font-size: 10pt !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  body .text {
    font-family: Arial, Helvetica, sans-serif !important;
  }
  body input {
    font-size: inherit;
    padding: 0.2em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    width: 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  body input::-ms-input-placeholder {
    color: rgba(210, 210, 210, 0.8);
  }
  body input::-webkit-input-placeholder {
    color: rgba(210, 210, 210, 0.8);
  }
  body input::-moz-placeholder {
    color: rgba(210, 210, 210, 0.8);
  }
  body .content {
    background-color: #222222;
    background-image: url("img/right.svg");
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #d2d2d2;
  }
  body .option-container {
    background-image: url("img/left.svg");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media all {
  body {
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 38.2vh 61.8vh;
  }
  body .title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .title h1 {
    text-align: center;
    font-size: 50pt;
  }
  body .content {
    background-color: #222222;
    color: #d2d2d2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1.2em;
    padding: 5em;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  body .content .box {
    text-align: center;
  }
  body .content .box form .textfield {
    border: none;
    border-bottom: solid 1px #d2d2d2;
    background: none;
    color: #d2d2d2;
  }
  body .content .box form .textfield:active {
    border-bottom-color: #c4bb45;
    color: #c4bb45;
  }
  body .content .box form .button {
    margin-top: 2em;
    border: none;
    background: none;
    color: #d2d2d2;
    width: 100%;
    font-size: inherit;
  }
  body .content .box form .button:hover {
    cursor: pointer;
    color: #c4bb45;
  }
  body .content .box .error {
    margin-top: 2em;
    color: #d24e4c;
    width: 100%;
    text-align: center;
  }
  body .content .box .message {
    margin-top: 2em;
    color: #c4bb45;
    width: 100%;
    text-align: center;
  }
  body .option-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .option-container .options .option {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1em;
    border-top: solid 1px black;
    text-align: center;
    color: #222222;
  }
  body .option-container .options .option:first-of-type {
    border: none;
  }
}
