<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.i18n.Tr "account"}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/account.css"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>{{.i18n.Tr "account"}}</h1>
    </div>
    <div class="container option-container">
        <div class="options">
            {{if not .Score}}
                <div class="option score">
                    <a href="/account"><h2>{{.i18n.Tr "score"}}</h2></a>
                </div>
            {{end}}
            {{if not .ChangePw}}
                <div class="option changepw">
                    <a href="/account?mode=changepw"><h2>{{.i18n.Tr "change_password"}}</a></h2>
                </div>
            {{end}}
            {{if not .Relations}}
                <div class="option relations">
                    <a href="/account?mode=relations"><h2>{{if .IsTeacher}}{{.i18n.Tr "your_students"}}{{end}}{{if not .IsTeacher}}{{.i18n.Tr "your_teachers"}}{{end}}</h2></a>
                </div>
            {{end}}
            {{if .Certificate}}
                <div class="option certificate">
                    <a href="/certificate"><h2>{{.i18n.Tr "certificate_menu"}}</h2></a>
                </div>
            {{end}}
            <div class="option logout">
                <a href="/logout"><h2>{{.i18n.Tr "logout"}}</h2></a>
            </div>
            <div class="option back">
                <a href="/"><h2>{{.i18n.Tr "back"}}</h2></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box">
            {{if .ChangePw}}
                <form action="/account?mode=changepw" name="changepw"  method="post" autocomplete="on">
                    <input name="pwOld" class="textfield" type="password" placeholder={{.i18n.Tr "password_old"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}} {{if .PwOld}} value={{.PwOld}} {{end}} />
                    <input name="pw1" class="textfield" type="password" placeholder={{.i18n.Tr "password_new"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}}  {{if .Pw}} value={{.Pw}} {{end}}/>
                    <input name="pw2" class="textfield" type="password" placeholder={{.i18n.Tr "password_new"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}}  {{if .Pw}} value={{.Pw}} {{end}}/>
                    <button class="button" type="submit">{{.i18n.Tr "change_password"}}</button>
                    {{if .Error}}
                        <button formaction="/restore" type="submit" class="button small">{{.i18n.Tr "restore_pw"}}</button>
                    {{end}}
                </form>
                {{if .Error}}
                <div class="error text">{{.Error}}</div>
                {{end}}
                {{if .Message}}
                <div class="message text">{{.Message}}</div>
                {{end}}
            {{end}}
            {{if .Score}}
                <div>
                    <h2 class="center">{{.ScoreVal}}</h2>
                    <h4 class="text" >{{.i18n.Tr "score"}}</h4>
                </div>
            {{end}}
            {{if .Relations}}
                {{if .IsTeacher}}
                    <form action="/account?mode=relations" name="addstudent"  method="post" autocomplete="on">
                        <input name="email" class="textfield" type="email" placeholder={{.i18n.Tr "email"}} required=true />
                        <button class="button" type="submit">{{.i18n.Tr "add_student"}}</button>
                    </form>
                {{end}}
                {{if .Error}}
                <div class="error text">{{.Error}}</div>
                {{end}}
                {{if .Message}}
                <div class="message text">{{.Message}}</div>
                {{end}}
                <div class="element-container">
                    {{if .RelationsList}}
                        {{range .RelationsList}}
                            <div class="element text center">
                                {{if $.IsTeacher}}{{.Student}} | {{if .Confirmed}}{{$.i18n.Tr "score"}}: {{.Score}}{{end}}{{if not .Confirmed}}{{$.NotConfirmed}}{{end}} | <a href="/account?mode=relations&action=delete&email={{.Student}}">{{$.i18n.Tr "remove"}}</a>{{end}}
                                {{if not $.IsTeacher}}{{.Teacher}} | {{if .Confirmed}} <a href="/account?mode=relations&action=delete&email={{.Teacher}}">{{$.Remove}}</a>{{end}}{{if not .Confirmed}} <a href="/account?mode=relations&action=confirm&email={{.Teacher}}">{{$.Confirm}}</a>{{end}}{{end}}</div>
                        {{end}}
                    {{end}}
                    {{if not .RelationsList}}
                        {{if .IsTeacher}}
                            <div class="text center">{{.i18n.Tr "no_students"}}</div>
                        {{end}}
                        {{if not .IsTeacher}}
                            <div class="text center">{{.i18n.Tr "no_teachers"}}</div>
                        {{end}}
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
</body>
</html>