<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.i18n.Tr "calendar"}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/calendar.css"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
</head>
<body>
    <div class="fixed"><a href="/">{{.i18n.Tr "back"}}</a></div>
    {{range .Days}}
        <a href={{.Link}} {{if not .Opened}} class="option" {{end}} {{if .Opened}} class="option opened" {{end}}  ><span {{if .Current}} class="current" {{end}} >{{.Date}}</span></a>
    {{end}}
</body>
</html>