<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/style/certificate.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
</head>
<body>
    <h1>Certificate</h1>
    <div class="awarded_to">Awarded to</div> 
    <div class="email">{{.Email}}</div>
    <div class="score">
        for scoring <span class="points">{{.Score}}</span> points in life.
    </div>
</body>
</html>