<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.i18n.Tr "login"}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>{{if not .LoggedIn}}{{.i18n.Tr "login"}}{{end}}{{if .LoggedIn}}{{.i18n.Tr "logout"}}{{end}}</h1>
    </div>
    <div class="container option-container">
        <div class="options">
            {{if not .LoggedIn}}
                <div class="option register">
                    <a href="/register"><h2>{{.i18n.Tr "register"}}</h2></a>
                </div>
            {{end}}
            {{if .LoggedIn}}
                <div class="option current">
                    <a href="/day"><h2>{{.i18n.Tr "current"}}</a></h2>
                </div>
            {{end}}
            <div class="option back">
                <a href="/"><h2>{{.i18n.Tr "back"}}</h2></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box">
            {{if not .LoggedIn}}
                <form action="/login" name="login"  method="post" autocomplete="on">
                    <input name="email" class="textfield" type="email" placeholder={{.i18n.Tr "email"}} required=true {{if .Email}} value={{.Email}} {{end}} />
                    <input name="pw" class="textfield" type="password" placeholder={{.i18n.Tr "password"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}} />
                    <button class="button" type="submit">{{.i18n.Tr "login"}}</button>
                    {{if .Error}}
                        <button formaction="/restore" type="submit" class="button small">{{.i18n.Tr "restore_pw"}}</button>
                    {{end}}
                </form>
            {{end}}
            {{if .LoggedIn}}
                <a href="/logout" class="button text">{{.i18n.Tr "logout"}}</a>
            {{end}}
            {{if .Error}}
                <div class="error text">{{.Error}}</div>
            {{end}}
            {{if .Message}}
                <div class="message text">{{.Message}}</div>
            {{end}}
        </div>
    </div>
</body>
</html>