<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.i18n.Tr "register"}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/register.css"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>{{.i18n.Tr "register"}}</h1>
    </div>
    <div class="container option-container">
        <div class="options">
            <div class="option login">
                <a href="/login"><h2>{{.i18n.Tr "login"}}</a></h2>
            </div>
            <div class="option back">
                <a href="/"><h2>{{.i18n.Tr "back"}}</a></h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box">
            {{if not .LoggedIn}}
                <form action="/register" name="register" method="post" autocomplete="on">
                    <input name="email" class="textfield" type="email" placeholder={{.i18n.Tr "email"}} required=true {{if .Email}} value={{.Email}} {{end}} />
                    <input name="pw1" class="textfield" type="password" placeholder={{.i18n.Tr "password"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}} {{if .Pw}} value={{.Pw}} {{end}} />
                    <input name="pw2" class="textfield" type="password" placeholder={{.i18n.Tr "password"}} required=true minlength={{.Config.MinPwL}} maxlength={{.Config.MaxPwL}} {{if .Pw}} value={{.Pw}} {{end}} />
                    <input name="grade" class="dropdown" type="number" min={{.Config.MinYL}} max={{.Config.MaxYL}} placeholder={{.i18n.Tr "yearlevel"}} required=true {{if .Grade}} value={{.Grade}} {{end}} />
                    <div class="checkbox-container text"><input class="checkbox" type="checkbox" name="teacher" {{if .Teacher}} checked=true {{end}} /><span>{{.i18n.Tr "teacher"}}</span></div>
                    <input name="captcha" class="textfield" type="text" placeholder={{.i18n.Tr "captcha"}} required=true minlength="6" maxlength="6" />
                    <div class="captcha center">{{.Captcha.CreateHtml}}</div>
                    <div class="tos text center small">{{.i18n.Tr "tos_warning"}} - <a href="/tos">{{.i18n.Tr "tos_read"}}</a></div>
                    <button class="button" type="submit">{{.i18n.Tr "register"}}</button>
                </form>
            {{end}}
            {{if .LoggedIn}}
                <a href="/logout" class="button text center">{{.i18n.Tr "logout"}}</a>
            {{end}}
            {{if .Error}}
                <div class="error text center">{{.Error}}</div>
            {{end}}
            {{if .Message}}
                <div class="message text center">{{.Message}}</div>
            {{end}}
        </div>
    </div>
</body>
</html>