<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="title">
        <h1>{{.i18n.Tr "service"}}</h1>
    </div>
    <div class="content">
        <div class="box text">{{.i18n.Tr "reward_mail_body"}} {{.Score}} | {{.Placing}}</div>
    </div>
</body>
</html>