<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
</head>
<body>
    <div style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" >{{if .Error}}{{.Error}}{{end}}</div>
    <form action="/upload" name="register" method="post" autocomplete="on" enctype="multipart/form-data">
        <input style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" name="mingrade" type="number" min={{.MinYL}} max={{.MaxYL}} placeholder="min grade" required=true {{if .MinGrade}} value={{.MinGrade}} {{end}} />
        <input style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" name="maxgrade" type="number" min={{.MinYL}} max={{.MaxYL}} placeholder="max grade" required=true {{if .MaxGrade}} value={{.MaxGrade}} {{end}} />
        <input style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" name="day" type="number" min=1 max=24 placeholder="day" required=true {{if .Day}} value={{.Day}} {{end}} />
        <label style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" >solution:
                <select name="solution" size="4">
                    <option {{if .A}} selected {{end}}>A</option>
                    <option {{if .B}} selected {{end}}>B</option>
                    <option {{if .C}} selected {{end}}>C</option>
                    <option {{if .D}} selected {{end}}>D</option>
                </select>
                </label>
        <label>markdown: <input type="file" style="display: block; font-size: 12pt; margin: 1em;" name="md" required=true /></label>
        <label>assets zip: <input type="file" style="display: block; font-size: 12pt; margin: 1em;" name="assets"/></label>
        <label style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" >type:
            <select name="type" size="3">
                <option {{if .Quest}} selected {{end}}>Quest</option>
                <option {{if .ToS}} selected {{end}}>Terms of Service</option>
                <option {{if .About}} selected {{end}}>About</option>
            </select>
            </label>
        <button style="display: block; min-width: 200px; font-size: 12pt; margin: 1em;" class="button" type="submit">Submit</button>
    </form>
</body>
</html>