<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.i18n.Tr "home"}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css"/>
    <link rel="stylesheet" type="text/css" href="/style/home.css"/>
</head>
<body>
    
</body>
</html>